@page
@model issue_tracker_crud.Pages.Issues.IndexModel


@{ ViewData["Title"] = "Issue Tracker - Open Issues"; }



<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div style="padding-left: 130px;">
        <h1>Active Tickets</h1>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Open New Ticket
        </button>
    </div>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Ticket List</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="./Index" class="text-muted">IssueTrax</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">Tickets</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class=" float-right">
                        <a href="/issues/create" class="custom-select-set bg-white border-0 custom-shadow custom-radius">
                            Open New
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- basic table -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                     
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueTitle)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueDescription)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueLevel)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueAssigned)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IsIssueOpen)</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.Issue)
                                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueAssigned)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsIssueOpen)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>}
                                    </tbody>

                                    <tfoot>
                                        <tr>                                           
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueTitle)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueDescription)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueLevel)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IssueAssigned)</th>
                                            <th>@Html.DisplayNameFor(model => model.Issue[0].IsIssueOpen)</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <ul class="pagination float-right">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Issue[0].IssueTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issue[0].IssueDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issue[0].IssueLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issue[0].IssueAssigned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issue[0].IsIssueOpen)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Issue)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssueTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueAssigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsIssueOpen)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>}
        </tbody>
    </table>*@
