@page
@model issue_tracker_crud.Pages.Issues.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issue[0].IssueTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue[0].IssueDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue[0].IssueLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue[0].IssueAssigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue[0].IsIssueOpen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Issue) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssueTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueAssigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsIssueOpen)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
